@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

.movie-card{
    min-width: 14vw !important;
    width: 14vw !important;
    height: 90% !important;
    background-size:contain !important;
    background-repeat: no-repeat !important;
    object-fit:scale-down !important;
}